$font-stack: Helvetica, sans-serif;
$primary-color: #eee;
* {
    font-family: $font-stack;
    font-size: 12px;
    color: $primary-color;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}